@use '../../../preview-files.scss';

div.masonry-container {
    grid-auto-flow: dense;
    columns: 4;
    column-gap: 0.2rem;
    div.masonry-item {
        width: 100%;
        margin-bottom: 0.2rem;
    }

    @media screen and (max-width: 768px) {
        columns: 3;
    }

    @media screen and (max-width: 576px) {
        columns: 2;
    }
}