<div class="modal-header">
  <h4 class="modal-title">Lasă-ne o recenzie</h4>
</div>

<div class="modal-body">
  <form
  [formGroup]="reviewForm"
  class="needs-validation"
  [class.was-validated]="submitted()"
  novalidate
>
    <!-- CATEGORY -->
    <div class="mb-3">
      <label for="categoryId" class="form-label">Serviciu<sup class="text-danger">*</sup></label>
      <select
        name="categoryId"
        formControlName="categoryId"
        class="form-select"
        [ngClass]="controlClasses(f.categoryId)"
      >
      <option disabled [value]="null">Alege serviciul</option>
        @for(category of categories; track category.id) {
          <option [value]="category.id">{{category.name}}</option>
        }
      </select>

      @if (f.name.errors?.['required']) {
          <div class="invalid-feedback">Serviciul este obligatoriu</div>
      } @else {
          <div class="valid-feedback">Validat!</div>
      }
    </div>

  <!-- NAME -->
  <div class="mb-3">
    <label class="form-label">Nume<sup class="text-danger">*</sup></label>
    <input
      type="text"
      class="form-control"
      formControlName="name"
      placeholder="Nume"
      [ngClass]="controlClasses(f.name)"
    />

    <div class="valid-feedback">Validat!</div>
    <div class="invalid-feedback">
      <span *ngIf="f.name.errors?.['required']">Nume este obligatoriu</span>
    </div>
  </div>

    <!-- MESSAGE -->
  <div class="mb-3">
    <label class="form-label">Mesaj<sup class="text-danger">*</sup></label>
    <textarea
      class="form-control"
      formControlName="message"
      placeholder="Mesaj..."
      [ngClass]="controlClasses(f.message)"
    ></textarea>

    <div class="valid-feedback">Validat!</div>
    <div class="invalid-feedback">
      @if (f.message.errors?.['required']) {
        <span>Mesaj este obligatoriu</span>
      }
    </div>
  </div>

    <!-- RATING -->
  <div class="mb-3">
    <label class="form-label">Evaluare</label>
    <select
      class="form-select"
      formControlName="rating"
      placeholder=""
      [ngClass]="controlClasses(f.rating)"
    >
      <option disabled [value]="null">Alege cifra, unde 1 - Nesatisfăcător, 5 - Excelent</option>
      <option [value]="5">5</option>
      <option [value]="4">4</option>
      <option [value]="3">3</option>
      <option [value]="2">2</option>
      <option [value]="1">1</option>
    </select>

    <div class="valid-feedback">Validat!</div>
    <div class="invalid-feedback">
      @if (f.rating.errors?.['required']) {
        <span *ngIf="f.rating.errors?.['required']">Scor este obligatoriu</span>
      }
      @if (f.rating.errors?.['maxlength']) {
        <span>Scorul este alcătuit dintr-o cifră</span>
      }
      @if (f.rating.errors?.['max']) {
        <span>Scorul maxim este 5</span>
      }
      @if (f.rating.errors?.['min']) {
        <span>Scorul minim este 1</span>
      }
    </div>
  </div>

</form>
</div>

<div class="modal-footer">
  <button
    type="button"
    class="btn border-btn medium"
    (click)="submit()"
  >
    Trimite
  </button>
</div>